# Clyth generated build artifacts
build-compiler/
llvm-build/
llvm-bundled/
antlr4-cpp-runtime-lib/
antlr4-cpp-runtime-src/build/
fmt-build/
dist-clyth/
dist/

# Runtime/native object outputs
clyth-runtime/c-bindings/**/x86_64/
clyth-runtime/c-bindings/**/aarch64/
clyth-runtime/modules/**/x86_64/
clyth-runtime/modules/**/aarch64/
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe

# Sample outputs
sample-clyth-programs/.sample-bin/
*.ll

# Release/archive files
*.tar
*.tar.gz
*.tgz
*.zip
*.7z

# Logs and temp files
*.log
*.tmp
*.bak
.DS_Store
.cache/
/.vscode
/compiler-src/fmt
/llvm-project-src
/compiler-src/src/clyth_antlr_files
/clyth-runtime/c-bindings/libuv/vendor
/clyth-runtime/c-bindings/llhttp/vendor
/clyth-runtime/c-bindings/openssl/vendor
/clyth-runtime/c-bindings/rapidhash/vendor
/clyth-runtime/c-bindings/wslay/vendor
/clyth-runtime/c-bindings/yyjson/vendor
