# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
compiler-dev/builds/frontend-binary
compiler-dev/frontend/test.bin
compiler-dev/frontend/.vscode/settings.json
.vscode/settings.json
compiler-dev/frontend/clythcpp
compiler-dev/frontend/clythcpp
.DS_Store
*.atn
*.interp
*.tokens
/compiler-dev/frontend/clyth_generated_parser/.antlr
compiler-dev/frontend/clythcpp
compiler-dev/frontend/clythcpp
